<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="{{ url_for('static', 'create.js' }}"></script>
  <style type="text/css" src="{{ url_for('static', 'create.css' }}"></style>

  <head><title>Input to start game</title></head>
  <body style="text-align:center; background: #333;">
	<h1>Assassinability</h1>
	<form name="myform">
      <input type="text" class="number" id="input" value="12169705010" />
	  <input type="text" class="name" id="input" value ="daniel gur" /><br />
      <input type="text" class="number" id="input" value="17144175062" />
	  <input type="text" class="name" id="input"  value="Huan" /><br />
      <input type="text" class="number" id="input" value="12165482911" />
	  <input type="text" class="name" id="input"  value="Elissa" /><br />
	  <div id="newEntries"></div>
	  <input type="button" id="add_new" value="Add new entry">
      <input type="button" id="submit" value="Submit" />
	</form>

	<h3>Instructions:</h3>
	<p>1. Add players. Make sure their phone# is preceded by a '1'.</p>
	<p>2. Hit submit to start game.</p>
	<p>3. Every player will get a target and a secret word.</p>
	<p>4. Go assasin your target. Be careful not to get killed or share your secret word.</p>
	<p>5. If you manage to kill your target, reply to the text you got by sending your target's secret word.</p>
	<p>6. You will get a new target.</p>
	<p>7. Keep on killing.</p>
	<p>8. You will be notified when the game is over.</p>
   
  </body>
</html>
