<html>
    <head><title>Status the game</title>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	  <script>
		$(document).ready(function(){
		  var update = function(){}

		  setInterval(function(){
		     update();
		  }, 1000); 
		});
	  </script>
</head>
    <body>
	<table>
	<tr>
		<td>User</td>
		<td>Number</td>
		<td>Looking for</td>
	{% for user in Users %}	  
		 <td>{{user.name}}<td>
		 <td>{{user.number}}<td>
		 <td>{{Users[user.target_numer].name}}<td>	
	{% endfor %}
	</tr>
	</table>
   </body>
</html>
