<html>
    <head><title>Status the game</title>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	  <script src="https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js"></script>
	 <script>
	 $(document).ready(function(){
	         document.bgColor = "#333";
			 var users = {}
			 var update = function(){
				 $.get('/gamestatus', function(result){ 
						 console.log('getting status');
						 // check to see if its different length..
						 // shouldnt really being using eval but ok..
						 var new_users = eval(result);
						 // if so then update the view.. 
						 if( new_users.length != users.length ){
							 Draw(new_users);
							 users = new_users;
						 }
					 });
			 };

			 // vector that the arrow the towards
			 Raphael.fn.arrow = function (x, y, x_vect, y_vect){
				 var width = 30;
				 var length = 70;
				 var arrow_dist = 20;
				 var commands = [ "M" + x + " " + (y + length/2),
								  "L" + (x + width/2) + " " + (y + length/2),
								  "L" + (x + width/2) + " " + (y - arrow_dist),
								  "L" + ((x + width/2) + 10) + " " + (y - arrow_dist),
								  "L" + x + " " + (y - length),
								  "L" + ((x - width/2) - 10) + " " + (y - arrow_dist),
								  "L" + (x - width/2) + " " + (y - arrow_dist),
								  "L" + (x - width/2) + " " + (y + length/2),
								  "L" + x + " " + (y + length/2)
								  ]
				 var command = "";
				 for(var i = 0; i < commands.length; i++){
					 command += commands[i];
				 }
				 var path = this.path(command);
				 var rotation = (180 / Math.PI) * Math.acos(x_vect / Math.sqrt(x_vect * x_vect + y_vect * y_vect));
				 if( y_vect > 0 ){
					 
				 } else {
					 rotation = 360 - rotation;
				 }
				 rotation += 90;
				 path.rotate(rotation);

				 return path;

			 }

			 var Draw = function(users){
				 r = Raphael("holder", 700, 700);
				 var radius = 250;
				 var circle_radius = 70;
				 var origin = [350, 350];
				 var length = users.length;
				 var targets = r.set();
				 var labels = r.set();
				 var arrows = r.set();
				 for(var i = 0; i < length; i++){
					 var offset = [radius * Math.cos(i * 2 * Math.PI / length), 
								   radius * Math.sin(i * 2 * Math.PI / length)];
					 console.log(offset);
					 var user_center = [origin[0] + offset[0], origin[1] + offset[1]];
					 var circle = r.circle(user_center[0], user_center[1], circle_radius);
					 var label = r.text(user_center[0] - (circle_radius / 3), user_center[1], users[i].name);

					 var arrow_offset = [radius * Math.cos((i + .5) * 2 * Math.PI / length) * .95, 
										 radius * Math.sin((i + .5) * 2 * Math.PI / length) * .95];
					 
					 var arrow = r.arrow(origin[0] + arrow_offset[0], origin[1] + arrow_offset[1],
										 radius * Math.cos((i+1) * 2 * Math.PI / length) * .9 - radius * Math.cos((i) * 2 * Math.PI / length) * .9, 
										 radius * Math.sin((i+1) * 2 * Math.PI / length) * .9 - radius * Math.sin((i) * 2 * Math.PI / length) * .9);
					 arrows.push(arrow);
					 labels.push(label);
					 targets.push(circle);
				 }
				 arrows.attr({fill: "red", stroke: "#fff", "stroke-dasharray": "- ", opacity: .2});
				 targets.attr({fill: "#000", stroke: "#fff", "stroke-dasharray": "- ", opacity: .2});
				 labels.attr({font: "12px Fontin-Sans, Arial", fill: "#fff", "text-anchor": "start"});
			 };
			 
			 update();

			 //setInterval(function(){
			 //  update();
			 //}, 1000); 

		    //updateDrawing();
		 });
	  </script>



</head>
    <body>
		  <center>
		     <div id="holder"></div>
     	 </center>
   </body>
</html>
